<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="../../assets/js/vue.js"></script>
    </head>
    <body>
        <ul id="v-ul">
            <!-- v-model指令在表单控件元素上创建双向数据绑定 , 它负责监听用户的输入事件以更新数据 -->

            <p>原始文本信息 : <span v-text="msg"></span></p>
            
            <h2>文本框</h2>
            <p>v-model : <input type="text" v-model="msg"></p>
            <p>v-model.lazy : <input type="text" v-model.lazy="msg"> ---- .lazy 当表单元素失去焦点时才渲染数据</p>
            <p>v-model.number : <input type="text" v-model.number="msg"> ---- .number 输入的数值型字符串会转为数字</p>
            <p>v-model.trim : <input type="text" v-model.trim="msg"> ---- .trim 输入首尾空格过滤</p>

            <h2>文本域</h2>
            <p><textarea cols="30" rows="5" v-model="msg"></textarea></p>

            <h2>多选框绑定一个值</h2>
            <input type="checkbox" id="well" v-model="isWell">
            <label for="well">你还好吗 : {{ isWell }}</label>

            <h2>多选框绑定数组</h2>
            <input type="checkbox" id="one" v-model="fruit" value="木瓜">
            <label for="one">木瓜</label>
            <input type="checkbox" id="two" v-model="fruit" value="西瓜">
            <label for="two">西瓜</label>
            <input type="checkbox" id="three" v-model="fruit" value="哈密瓜">
            <label for="three">哈密瓜</label>
            <p>你选择的是 : <span v-for="t in fruit">{{ t }}</span></p>

            <h2>单选框绑定</h2>
            <input type="radio" id="male" v-model="sex" value="男">
            <label for="male">男</label>
            <input type="radio" id="female" v-model="sex" value="女">
            <label for="female">女</label>
            <p>您的性别是 : <span v-text="sex"></span></p>

        </ul>
    </body>

    <script>
        var vm = new Vue({
            el: '#v-ul',
            data: {
                msg: '阿狸阿里',
                isWell: true,
                fruit: ['木瓜'],
                sex: '男'
            }
        });
    </script>
</html>